<app-inicio></app-inicio>
<div class="titulo">
    <h1>Datos persona</h1>
</div>
<section id="persona">
    <div id="Codigo">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Código</span>
            <input [(ngModel)]="codigoPersona" id="codigoPersona" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
        </div>
    </div>
    <div id="Celdula">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Cédula</span>
            <input [(ngModel)]="cedulaPersona" id="cedulaPersona" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div id="Nombres">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nombres</span>
            <input [(ngModel)]="nombresPersona" id="nombresPersona" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div id="Apellidos">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Apellidos</span>
            <input [(ngModel)]="apellidosPersona" id="apellidosPersona" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div id="Edad">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Edad</span>
            <input [(ngModel)]="edadPersona" id="edadPersona" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div id="Nacionalidad">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Nacionalidad</span>
            <input [(ngModel)]="nacionalidadPersona" id="nacionalidadPersona" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <hr>
    <div id="IrTelefono">
        <button id="" type="button" class="btn btn-primary" (click)="validar()">Siguiente</button>
    </div>
</section>