<app-inicio></app-inicio>

<section id="container">
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Codigo de ususario</span>
        <input [(ngModel)]="codigo" id="codigo" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre de ususario</span>
        <input [(ngModel)]="usuario" id="usuario" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Correo</span>
        <input [(ngModel)]="correo" id="correo" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Contraseña</span>
        <input [(ngModel)]="contrasena" id="contrasena" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
        <button class="btn btn-danger" id="ver" (click)="verClave()"><i class="fas fa-eye" style="color: #264570;"></i></button>
    </div>
    <div class="input-group input-group-sm mb-3" id="contraRep" hidden="true">
        <span class="input-group-text" id="inputGroup-sizing-sm">Contraseña</span>
        <input [(ngModel)]="contrasenaR" id="contrasenaR" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
    </div>
    <button type="submit" class="btn btn-primary" (click)="editar()">Editar perfil</button>
    <button type="submit" class="btn btn-primary" onclick="window.modalEliminacion.showModal();">Eliminar perfil</button>
</section>

<dialog id="modalEliminacion">
    <header>
        <h5>Alerta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" onclick="window.modalEliminacion.close();"></button>
    </header>
    <hr>
    <section>
        <div id="mensaje">
            <h4>¿Está seguro que desea ELIMINAR este registro? Esto no se puede deshacer.</h4>
        </div>
        <div id="btnsGuardar">
            <button type="button" class="btn btn-primary" onclick="window.modalEliminacion.close();" (click)="eliminar()">Guardar</button>
            <button type="button" class="btn btn-danger" onclick="window.modalEliminacion.close();">Cancelar</button>
        </div>
    </section>
</dialog>
