main{
    width: 35%;
    margin: auto;
    padding: auto;
}

#login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

#botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}

#btnlogin{
    margin-bottom: 25px;
}

.btn.btn-primary{
    background-color: #426AA2;
    border: #264570;
}

.btn.btn-primary:hover{
    border: #426AA2;
    background-color: #264570;
}

.btn.btn-danger{
    background-color: #FB9224;
    border: #af691d;
}

.btn.btn-danger:hover{
    border: #FB9224;
    background-color: #af691d;
}

.link.btn-danger{
    color: #FB9224;
    border: #af691d;
}

.link.btn-danger:hover{
    border: #FB9224;
    color: #af691d;
}

#logo{
    width: 50%;
    margin: auto;
    padding: auto;
}

img{
    width: 100%;
    height: 100%;
}