<app-inicio></app-inicio>
<section id="datos">
    <section id="datosPersona">
        <div class="titulo">
            <h1>Personas</h1>
        </div>
        <hr>
        <table class="table table-bordered table-sm" ngForm="personaAPI">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Celdula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody table-group-divider class="personasDatos">
                <tr *ngFor="let i of datosPs">
                    <td> {{ i.codigoPersona }} </td>
                    <td> {{ i.cedulaPersona }} </td>
                    <td> {{ i.nombresPersona }} </td>
                    <td> {{ i.apellidosPersona }} </td>
                    <td> {{ i.edadPersona }} </td>
                    <td> {{ i.nacionalidadPersona }} </td>
                    <td> <button class="btn btn-primary" (click)="TelefonDireccion(i.codigoPersona)">Seleccionar</button> </td>
                    <td> <button class="btn btn-danger" (click)="Eliminar(i.codigoPersona)">Eliminar</button> </td>
                    <td> <button class="btn btn-danger" (click)="Editar()">Editar</button> </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section id="datosPersonaTelefono">
        <div class="titulo">
            <h1>Telefono</h1>
        </div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Numero de telefono</th>
                    <th scope="col">Operadora</th>
                </tr>
            </thead>
            <tbody table-group-divider>
                <tr *ngFor="let i of datosT">
                    <td> {{ i.codigoTelefono }} </td>
                    <td> {{ i.numeroTelefono }} </td>
                    <td> {{ i.operadoraTelefono }} </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section id="datosPersonaDireccion">
        <div class="titulo">
            <h1>Direccion</h1>
        </div>
        <hr>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">calle Principal</th>
                    <th scope="col">calle Secundaria</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Numero de casa</th>
                </tr>
            </thead>
            <tbody table-group-divider>
                <tr *ngFor="let i of datosD">
                    <td> {{ i.codigoDireccion }} </td>
                    <td> {{ i.callePrincipal }} </td>
                    <td> {{ i.calleSecundaria }} </td>
                    <td> {{ i.sectorDireccion }} </td>
                    <td> {{ i.numeroCasa }} </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>
