<app-inicio></app-inicio>
<section id="datos">
    <section id="datosPersona">
        <h4>Personas</h4>
        <hr>
        <table class="table table-bordered table-sm" ngForm="personaAPI">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Celdula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Seleccionar</th>
                </tr>
            </thead>
            <tbody table-group-divider>
                <tr *ngFor="let i of datosP.data">
                    <td> {{ i.codigoPersona }} </td>
                    <td> {{ i.cedulaPersona }} </td>
                    <td> {{ i.nombresPersona }} </td>
                    <td> {{ i.apellidosPersona }} </td>
                    <td> {{ i.edadPersona }} </td>
                    <td> {{ i.nacionalidadPersona }} </td>
                    <td> <button (click)="TelefonDireccion(i.codigoPersona)">Seleccionar</button> </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section id="datosPersonaTelefono">
        <h4>Telefonos</h4>
        <hr>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Numero de telefono</th>
                    <th scope="col">Operadora</th>
                </tr>
            </thead>
            <tbody table-group-divider>
                <tr *ngFor="let i of datosTD.data.telefono">
                    <td> {{ i.codigoTelefono }} </td>
                    <td> {{ i.numeroTelefono }} </td>
                    <td> {{ i.operadoraTelefono }} </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section id="datosPersonaDireccion">
        <h4>Direccion</h4>
        <hr>
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">calle Principal</th>
                    <th scope="col">calle Secundaria</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Numero de casa</th>
                </tr>
            </thead>
            <tbody table-group-divider>
                <tr *ngFor="let i of datosTD.data.direccion">
                    <td> {{ i.codigoDireccion }} </td>
                    <td> {{ i.callePrincipal }} </td>
                    <td> {{ i.calleSecundaria }} </td>
                    <td> {{ i.sectorDireccion }} </td>
                    <td> {{ i.numeroCasa }} </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section id="botonesCRUD">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button routerLink="/persona" type="button" class="btn btn-primary">Nuevo</button>
            <button id="btnEditar" type="button" class="btn btn-primary" (click)="editar()" disabled>Editar</button>
            <button id="btnEliminar" type="button" class="btn btn-primary" (click)="eliminar()" disabled>Eliminar</button>
        </div>
    </section>
</section>
