<app-inicio></app-inicio>
<div class="titulo">
    <h1>Datos telefono</h1>
</div>
<section id="telefonos"> 
    <div id="CodigoTelefono">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Código del teléfono</span>
            <input [(ngModel)]="codiogoTelefono" id="codiogoTelefono" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
        </div>
    </div>
    <div id="CodigoPersona">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Código del dueño</span>
            <input [(ngModel)]="codiogoDueno" id="codiogoDueno" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled="true">
        </div>
    </div>
    <div id="NumeroTelefono">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Número de teléfono</span>
            <input [(ngModel)]="numeroTelefono" id="numeroTelefono" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div id="Operadora">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Operadora</span>
            <input [(ngModel)]="operadoraTelefono" id="operadoraTelefono" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <hr>
    <div id="IrDireccion">
        <button type="button" class="btn btn-primary" (click)="validar()">Siguiente</button>
    </div>
</section>