<!-- inicio.component.html -->
<header>
    <nav>
        <ul>
            <li><a (click)="regresar()" class="active">
                <img src="./assets/images/logo.png" alt="Logo"/>
                Inicio
            </a></li>
            <li><a (click)="editarPerfil()">Editar Perfil</a></li>
            <li><a (click)="Nuevo()">Nuevo Contacto</a></li>
            <li><a (click)="historial()">historial</a></li>
            <li><a routerLink="/login">Salir</a></li>
        </ul>
    </nav>
</header>

<section>
    <router-outlet></router-outlet>
</section>